body { 
	font-family: "Moire", sans-serif;
	min-width: 256px; overflow-x: hidden;
	background: url('back.png') repeat repeat;
}

.wrapper { width: 92%; padding: 0 4% 0 4%;}

.inputbar { width: 100%; margin: 3% 0 5% 0;}
.inputbar input { 
	box-sizing: border-box; 
	width: 100%; 
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 0 10px 0 10px;
    line-height: 2.5;
}

.listwrapper { max-height: 414px; overflow-y: auto; padding-left: 0.5%;}
.listwrapper ul { list-style: none; margin: 0; padding: 0;}
.listwrapper ul li { 
	background: url('item.png') no-repeat no-repeat left center; 
	background-size: 10px;
	background-position: 0 5px;
	border: 2px solid transparent;
	margin: 5px 0 5px 0;
	padding-left: 20px;
	line-height: 1.5;
}
.listwrapper ul li .task {}
.listwrapper ul input { 
	float: right;
	margin: 6px 3px 3px 4px;
}